  
*{
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, serif;
  /* font-size: 1em; */
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 1.4em;
  /* font-weight: bold; */
}

h2 {
  font-size: 1.4em;
  padding-left: 1vw;
  margin-top: 1.5vw;
}

/*     header      */

header {
  margin-top: 18px;
  margin-bottom: 0px;
  margin-left: 2vw;
}

header p {
  margin-top: 4px;
  font-size: 1.1em;
}

.navigation{
  display: flex;
  justify-content: space-between;
}

nav {
  padding-top: 8px;
  margin-right: 60px;
}

#logo-reservia {
  width: 100px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

header li {
  margin-right: 13px;
  margin-left: 54px;
  font-size: 1.2em;
  font-weight: 540;
}

nav a {
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px #0065fc solid;
}

.login {
  color: #0065fc;
  font-weight: bold;
}
.display-mobile {
  display: none;
}

.hebergements {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

#titre-et-slogan {
  margin-top: 30px;
}

/*     search et filtres     */

main {
  width: 97%;
  margin: auto;
}

.search-filtres {
  margin-left: 7px;
}
.search-filtres p {
  font-size: 0.9em;
  /* font-weight: ; */
  line-height: 2em;
}

.filtres {
  display: inline;
}

.filtres h3 {
  font-size: 1.2em;
  display: inline;
}

input {
  border: 1px #f2f2f2 solid;
  border-radius: 10px 0px 0px 10px;
  font-family: "Raleway";
  font-weight: bold;
  padding: 15px 8px;
  padding-left: 5.4vw;
  display: inline;
  margin-left: 0px;
  font-size: 1em;
}

#marseille-france {
  width: 25vw;
}

input:hover {
  background-color: #f2f2f2;
}

.fa-map-marker-alt {
  /*border: 2px #f2f2f2 solid;*/
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  padding: 17px 14px;
  margin-right: 0px;
  position: absolute;
  left: 0px;
}

.rechercher {
  background-color: #0065fc;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  /*border: 1px #0065fc solid;*/
  padding: 16px;
  position: absolute;
  left: 22vw;
  top: -1px;
}
.fa-search {
  display: none;
}
.search-div {
  position: relative;
  margin-bottom: 2.5vw;
}

select {
  border: 2px #f2f2f2 solid;
  border-radius: 20px;
  padding: 12px 18px 12px 52px;
  font-family: "Raleway";
  font-size: 1em;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
}

select:hover {
  background-color: #74b9ff;  /* #f2f2f2 */
}

.fa-dog,
.fa-money-bill-wave,
.fa-heart,
.fa-child {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 25px;
  font-size: 1.1em;
  padding: 15px;
}

.icones {
  position: relative;
  margin: 30px 15px 15px 15px;
}

.icones i {
  position: absolute;
  left: -1px;
  top: -14px;
}

.fa-info {
  display: inline-block;
  color: #0065fc;
  font-size: 0.7em;
}

#info-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px #f2f2f2 solid;
  text-align: center;
  line-height: 14px;
  margin: 10px;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 4px; /* 0px */
  margin-bottom: 0px;
  line-height: 110%;
  font-family: "Raleway";
}

.information {
  margin-bottom: 1.8vw;
  margin-top: 2.5vw;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

/* hebergements et plus populaires */

.hebergements-et-populaires {
  width: 98%;
  height: 44.7vw;
  display: flex;
  margin: 1vw 0;
  margin-left: 1vw;
  margin-bottom: 2vw;
}

.wrap-hebergement      {
  background-color: #f2f2f2;
  border-radius: 17px;
  flex: 57%;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap-hebergement a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  margin-left: 1vw;
}

#all-hebergement-divs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#all-hebergement-divs a:hover {
  color: #0065fc;
}

.hotel  {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgb(233, 231, 231);
  margin: 0.8vw 0.5vw;
}

.hotel p {
  font-size: 0.8em;
}
.fa-star {
  font-size: 0.8em;
  color: lightgrey;
}

.bleu {
  color: #0065fc;
}

.heber  {
  flex-direction: column;
  align-items: center;
  width: 17vw;
  height: 15vw;
}

#all-hebergement-divs .image {
  border-radius: 15px 15px 0px 0px;
  width: 96%;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  flex: 60%;
  background-position: center;
  background-size: cover;
}

#all-hebergement-divs #discription {
  flex: 40%;
  width: 96%;
  margin-left: 20px;
  line-height: 2px;
}

#discription p {
  font-size: 0.9em;
  font-weight: 400;
}

#lacanne-biere {
  background-image: url("../Images/hebergements/lacanne-biere.jpg");
}

#hotel-du-port {
  background-image: url("../Images/hebergements/hotel-du-port.jpg");
}
#hotel-les-mouettes {
  background-image: url("../Images/hebergements/hotel-les-mouettes.jpg");
}

#hotel-dela-mer {
  background-image: url("../Images/hebergements/hotel-de-la-mer.jpg");
}

#auberge-le-panier {
  background-image: url("../Images/hebergements/auberge-le-panier.jpg");
}

#chez-amina {
  background-image: url("../Images/hebergements/hotel-chez-amina.jpg");
}

/*   les plus populaires   */
.les-plus-populaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 1vw;
  flex: 25%;
}

.fa-chart-line {
  padding-right: 3vw;
}

.les-plus-populaires header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

#three-divs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5em;
}

#three-divs a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
  color: black;
  display: flex;
}

#three-divs a:hover {
  color: #0065fc;
}

.popu {
  width: 27vw;
  height: 11vw;
  display: flex;
  align-items: center;
}

.popu .image {
  flex: 33%;
  width: 95%;
  height: 95%;
  border-radius: 15px 0px 0px 15px;
  margin-left: 0.3vw;
  background-position: center;
  background-size: cover;
}
#soleil-du-matin {
  background-image: url("../Images/les-plus-populaires/lesoleil-du-matin.jpg");
}
#aucoeur-de-leau {
  background-image: url("../Images/les-plus-populaires/aucoeur-de-leau.jpg");
}

#tout-bleuet-blanc {
  background-image: url("../Images/les-plus-populaires/tou-bleu-et-blanc.jpg");
}



#contenu {
  flex: 65%;
  width: 96%;
  height: 96%;
  padding: 0.5vw 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1em;
}

#contenu p {
  line-height: 0.8em;
  font-size: 0.9em;
}

#contenu a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
}
/*     activités a marseille  */

#activites {
  width: 100%;
  height: 38vw;
}

.resultats-activites {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.act {
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgb(233, 231, 231);
  width: 20vw;
  background-position: center;
  background-size: cover;
  position: relative;
}

.act h4 {
  position: absolute;
  bottom: 0vw;
  border-radius: 0px 0px 15px 15px;
  padding-left: 1em;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
  width: 100%;
  background-color: white;
}

.deux {
  height: 14vw;
}

.one {
  height: 31vw;
}

#deux-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 31vw;
}

#vieuxport {
  background-image: url("../Images/activites/3_medium/vieux-port.jpg");
}

#calanques {
  background-image: url("../Images/activites/3_medium/parc-national-calanques.jpg");
}

#pomegues {
  background-image: url("../Images/activites/3_medium/fort-de-pomegues.jpg");
}

#frioul {
  background-image: url("../Images/activites/3_medium/iles-du-frioul.jpg");
}

#notredame {
  background-image: url("../Images/activites/3_medium/notre-dame-lagarde.jpg");
}

#longchamp {
  background-image: url("../Images/activites/3_medium/parc-longchamp.jpg");
}

.resultats-activites a {
  text-decoration: none;
  font-size: initial;
  font-weight: initial;
  color: black;
  border-radius: 15px;
}

.resultats-activites a:hover {
  color: #0065fc;
}


 /*--------------            footer          --------------*/ 

footer {
  display: flex;
  background-color: #F2F2F2;   
  margin: 0%;
  margin-top: 9px;
  height: 189px;
  justify-content: flex-start;
  padding-left: 33px;
 }
footer a{
  text-decoration: none;
}
footer li
{
  list-style-type: none;
  margin-top: 7px;
}
footer ul
{
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-decoration: none;
  line-height: 1.5em;
}
footer div
{
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  width: 33%;
}

footer h4 {
  margin-top: 30px;
  font-size: 18px;
}
li a {
  text-decoration: none;
}
footer a:visited { 
  color: black;
}

.a-propos ul {
 margin-top: -6px;
}
.assistance ul {
  margin-top: -9px;
}
/*    Media Queries tab   */
@media all and (min-width: 768px) and (max-width: 1024px) {
  #marseille-france {
    width: 50vw;
  }
  .rechercher {
    left: 50vw;
  }

  .icones {
    margin-left: 2px;
    margin-right: 2px;
  }

  select {
    font-size: 0.9em;
    padding-right: 10px;
    padding-left: 51px;
  }

  select:hover {
    background-color: white;
  }
  .hebergements-et-populaires {
    flex-direction: column-reverse;
    height: auto;
  }

  .wrap-hebergement,
  .les-plus-populaires {
    margin-bottom: 3vw;
  }
  #three-divs {
    flex-direction: row;
    height: 21vw;
  }

  #all-hebergement-divs {
    height: 60vw;
  }

  .heber {
    width: 27vw;
    height: 24vw;
  }

  .les-plus-populaires {
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
  .popu {
    height: 18vw;
    width: 27vw;
  }

  #contenu p {
    font-size: 0.8em;
  }

  .popu h4 {
    font-size: 0.9em;
  }

  #activites {
    height: 55vw;
  }
  .resultats-activites {
    flex-wrap: wrap;
    justify-content: center;
  }
  .act {
    width: 27vw;
    height: 19vw;
  }

  .act h4 {
    font-size: 0.9em;
    padding-left: 5px;
  }

  .one {
    margin-right: 6vw;
    margin-bottom: 6vw;
  }

  #deux-div {
    flex-direction: row;
    width: 60vw;
    height: 19vw;
    margin-bottom: 6vw;
  }

  .blocpiedpage {
    margin-right: 10vw;
  }
}

/*      Media Queries  Mobile      */
@media all and (max-width: 767px) {
  body {
    width: auto;
    height: auto;
    margin: auto;
  }
  .navigation {
    flex-direction: column;
  }
  #logo-reservia {
    margin-top: 0px;
    margin-left: 10px;
  }

  .login {
    display: none;
  }

  .display-mobile {
    display: initial;
    color: #0065fc;
    font-weight: 900;
    margin-top: 8px;
    margin-right: 20px;
  }

 .logo-et-sins{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header nav {
    display: flex;
    margin-right: 1px;
    margin-left: 1px;
    justify-content: center;
  }

  header nav ul {
    padding: 3px;
  }

  header nav li {
    font-size: 1em;
    flex: 50%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 2px #f2f2f2 solid;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 10px;
    width: 50vw;
    text-align: center;
  }

  nav li:active {
    border-bottom: 2px #0065fc solid;
  }
  nav li:focus {
    border-bottom: 2px #0065fc solid;
  }
  nav a:hover {
    border-top: none;
    text-decoration: none;
  }
  nav a:active {
    color: #0065fc;
    border-top: none;
    text-decoration: none;
    
  }
  header p {
   
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 20px;
  }

  h1,
  h2 {
    margin-left: 15px;
  }

  header {
    width: 100%;
    margin: auto;
  }

  main {
    margin: auto;
    width: 100%;
  }

  .rechercher {
    display: none;
  }
  .search-div {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  #marseille-france {
    width: 70vw;
    padding-left: 3em;
  }

  .fa-search {
    display: initial;
    background-color: #0065fc;
    padding: 18.2px;
    position: absolute;
    color: white;
    border-radius: 10px;
    left: 67vw;
  }

  button {
    border: 1px #0065fc solid;
  }

  .search-filtres p {
    margin-left: 10px;
  }

  .icones {
    margin: 8px;
  }

  .fa-heart,
  .fa-dog {
    margin-top: 14px;
  }

  select {
    background-color: white;
  }

  select:hover {
    background-color: white;
  }

  .filtres,
  #form-filtres {
    display: block;
    display: flex;
    flex-direction: column;
    
   
  }

  .filtres h3 {
    margin-left: 15px;
    line-height: 2.3em;
    margin-top: 5px;
  }
  #info-icon {
    display: block;
  }
  .information {
    align-items: baseline;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  #info-icon {
    width: 25px;
  }

  .hebergements-et-populaires {
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .wrap-hebergement {
    order: 2;
    background-color: white;
    height: auto;
    max-height: none;
    width: 100%;
    margin-bottom: 6vw;
  }

  #all-hebergement-divs {
    display: flex;
    flex-direction: column;
    flex: 95%;
    align-items: center;
  }

  .wrap-hebergement h2 {
    flex: 5%;
  }

  .wrap-hebergement p:last-child {
    margin-left: 10px;
    margin-top: 4px;
  }

  .heber {
    width: 90vw;
    height: 45vw;
    margin-bottom: 5vw;
  }
  .popu {
    width: 90vw;
    height: 35vw;
    margin-bottom: 5vw;
  }

  .les-plus-populaires {
    order: 1;
    border-radius: 0px;
    max-height: none;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6vw;
  }

  #three-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heber h4 {
    line-height: 1.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.1em;
  }

  #discription p {
    padding-left: 0;
    line-height: 1em;
    margin: 2px;
  }

  #contenu {
    margin-left: 0.3em;
  }

  #activites {
    margin-left: 0px;
    width: 100%;
    height: auto;
    margin-bottom: 6vw;
  }

  .resultats-activites {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .act {
    width: 90vw;
    height: 41vw;
    margin-bottom: 5vw;
  }
  .act h4 {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  #deux-div {
    height: 90vw;
  }

  footer {
    flex-direction: column;
    width: 100%;
  }

  .blocpiedpage {
    margin-right: 0px;
  }
}

  


 






   