* {
  margin: 0;
  padding: 0;
}
/*   --------------  style de base  --------------*/
body
{
	padding: 3%;
	font-family: 'Raleway', Arial, sans-serif;
  margin: auto;
  line-height: 32px;
}

h1 {
  font-size: 20px;
  color: black;
}

h2 {
  font-size: 16px;
  color: grey;
}

h3 {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

h5 {
  font-size: 12px;
  color: grey;
}

p
{
  font-size: 17px;
  font-weight: 3em;
  color: grey;
}

a  {
  text-decoration: none;
}

a { 
  color: black;
}
/* -------------------   style de base   ------------------*/
/* --------------------    Header  -------------------------*/
header {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}

.logo {
/*  margin-left: 25px; */
 
}

nav {
	display: flex;
	align-items: baseline;
	flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: -8px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 5px;
}

nav li
{
  margin-right: 50px;
}

nav a {
  font-size: 1.1em;
  padding-top: 54px;
  text-decoration: none;
  color: grey;
}

nav a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

/* -----------------   Header   --------------------------*/ 
/* -----------------   Trouvé votre hébergement   --------------------------*/ 
#trouvé-votre-hébergement {
  padding-top: 25px;
  font-size: 20px;
} 



/* ----- recherche ville  bar -------*/
.recherche input 
{
    height: 50px;
    text-align: center;
}

.city 
{
    width: 227px;             /* 170     origin*/
    margin-left: 12px;
    padding-left: 15px;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

#sub
{
    border-radius: 0 12px 12px 0;
    background-color: #0065FC;
    color: white;
    height: 49px;        /*35 */
    width: 150px;          /* 100px */
    border: none;
    font-size: 14px;
}


.recherche
{
  display: flex;
  height: 28px;
}

.recherche p
{
  display: flex;
  align-items: baseline;
  flex-flow: row nowrap;
  background-color: #F2F2F2;
  border-radius: 12px;
  font-size: 20px; 
  margin-top: -14px;          /* yavais rien */
}

#icon 
{
  margin-left: 25px; 
  margin-right: 15px;       /*  12px   */
}
/* --------------   Filtres    --------------*/
.filtres 
{
  display: flex;
  font-size: 20px;
  align-items: baseline;
  flex-wrap: wrap;
  font-weight: bold;
  margin-top: -14px;
}

.filtres ul
{
  list-style-type: none;
  display: flex;
  margin-left: 30px;
}

.filtres li
{
  margin-right: 20px;
  text-decoration: none;
}

.filtres a
{
  font-size: 17px;
  padding: 8px 8px 8px 0;
  color: black;
  border: 1px solid #bdc3c7;
  border-radius: 50px;
}


.filtres h3
{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 0;
  font-weight: bold;
}

.filtres i 
{
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.filtres a:hover
{
  background-color: #F2F2F2;
  color: #0065FC;
  border: 2px solid #0065FC;
}

.filtres i:hover {
  background-color:salmon;
  color: red;
}



/* --------------   Filtres    --------------*/ 
/* --------------   Informations    --------------*/ 
.information
{
  display: flex;
  align-items: baseline;
  margin-top: 16px;
}

.information i
{
  font-size: 20px;
  color: white;
  background-color: #0065FC;
  margin-right: 10px;
  border-radius: 50%;
  border: solid 1px #F2F2F2;
}

/* --------------   Informations    --------------*/  

/* --------------   hebrgements a marseille    --------------*/ 


.image-1
{
  background-image: url('../Images/hébergements/lacanne-biére.jpg');
}
.image-2
{
  background-image: url('../Images/hébergements/hotel-du-port.jpg');
}
.image-3
{
  background-image: url('../Images/hébergements/hotel-les-mouettes.jpg');
}
.image-4
{
  background-image: url('../Images/hébergements/hotel-de-la-mer.jpg');
}
.image-5
{
  background-image: url('../Images/hébergements/auberge-le-panier.jpg');
}
.image-6
{
  background-image: url('../Images/hébergements/hotel-chez-amina.jpg');
} 

#hebergements  
{
 display: flex;
 margin-top: 30px;
 justify-content: space-between;
}

 .hébergements-a-marseille {
  padding-left: 2px;
  margin-top: 15px;
}


.images-1 {
  background-size: cover;
  background-position: 50%;
  height: 120px;
  margin: 2%;
  border-radius: 17px 17px 0 0;

}

section
{
  display: block;
  background-color: #F2F2F2;
  width: 61%;                   /* a voir */
  height: 550px;
  border-radius: 20px;
  font-size: 10px;
  padding-bottom: 30px;        /* padding-bottm */
}

section h1
{
margin-left: 28px;
}

.premiere-ligne
{
  height: 35%;
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.deuxieme-ligne
{
  height: 35%;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  margin-top: 20px;
}

.section1
{
  display: flex;
  width: 29%;
  height: 200px;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #dce0e6;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 5%;
}

.hotel-section1
{
  /*line-height: 23px;
  margin-top: 10px;
  margin-left: 20px;*/
  line-height: 2em;
  margin-top: 3px;
  margin-left: 20px;
}

.hotel-section1 p {
  font-size: 14px;
}

.section1 i  
{
  color: #0065FC;
  font-size: 10px;
}

#star1
{
  color: #dce0e6;
}

#plus  h4 
{
  display: flex;
  font-size: 17px;
  margin-left: 40px;
  margin-top: 50px;
  flex-direction: column;
  margin-left: 29px;
}
/* --------------   les plus polpulaires   --------------*/ 
aside   
{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  width: 30%;
  height: 550px;
  border-radius: 20px;
  justify-content: space-around;
  padding-bottom: 30px;            /* padding bottom */
  margin-right: 36px;
}
.les-plus-populaires     
{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 12px;                    /* padding */
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
}
.les-plus-populaires i 
{
  font-size: 18px;
  /*margin-bottom: 2%; */
  
}
.section-2  {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 133px;
  background: white;
  border-radius: 5px;
  margin: auto;
  box-shadow: 1px 1px 2px #dce0e6;    /* box shadow  */
  padding: 1%;
}
.pic-1
{
  background-image: url('../Images/hébergements/lesoleil-du-matin.jpg'); 
}
.pic-2
{
  background-image: url('../Images/hébergements/aucoeur-de-leau.jpg');  
}
.pic-3
{
  background-image: url('../Images/hébergements/tout-bleu-et-blanc.jpg');  
}
.pictures-2 {
  background-size: cover;
  background-position: 50%;
  width: 40%;
  height: 100%;
  border-radius: 17px 0 0 17px;
  margin-right: 3%;
}
.section-2 i
{
  color: #0065FC;
  font-size: 10px;
  margin-top: 28px;
}
.section-2 h4
{
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.section-2 p
{
  font-size: 14px;
}
.hotels-2
{
  display: block;
  line-height: 21px;
}




/*--------------            footer          --------------*/ 

footer {
  display: flex;
  background-color: #F2F2F2;   
  margin: -4%;
  margin-top: 50px;
  height: 183px;
  justify-content: flex-start;
 }
footer a{
  text-decoration: none;
}
footer li
{
  list-style-type: none;
  margin-top: 7px;
}
footer ul
{
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-decoration: none;
  margin-top: -5px;
}
footer div
{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 33%;
}

footer h4 {
  margin-top: 30px;

}
li a {
  text-decoration: none;
}
footer a:visited { 
  color: black;
}
/* --------------            footer           --------------*/ 