/*
 
 * {
  margin: 0;
  padding: 0;
}  */

/*   --------------  style de base  --------------*/
body
{
 
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0; 
  width: 100%;
 /* margin: auto; */
  }  
h1 {
  /* font-size: 22px;
  color: black;  */
  font-size: 1.2em;
  
}
h2 {
  font-size: 1.5em; /* 21px */
  color: black;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
}
h4 {
  font-size: 15px;
  font-weight: bold;
}
p {
  font-size: 17px;
  font-weight: 3em;
  color: grey;
}
a  {
  text-decoration: none;
}
main {
  margin-left: 4em;
  margin-right: 4em;
}

/* -------------------   style de base   ------------------*/

/* --------------------    Header  -------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3.5em;
  
}

header img {

  width: 100px;
  height: auto;
}

nav {
	display: flex;
	align-items: baseline;
	flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: -8px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 5px;
}

nav li
{
  margin-right: 60px;
}

nav a {
  font-size: 1.1em;
  padding-top: 54px;
  text-decoration: none;
  color: grey;
}
.sinscrire {
  color: #0065FC;
  list-style-type: none;
  font-weight: 800;
}
.hebergements {
  color: #0065FC;
  border-top: 3px solid;
  width: 162px;
  margin: auto;

}
nav a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

/* -----------------   Header   --------------------------*/ 

/* -----------------   Trouvé votre hébergement   --------------------------*/ 
#trouvé-votre-hébergement {
  
  margin-top: 2em;;
  font-size: 20px;
} 
#trouvé-votre-hébergement p {
  font-size: 18px;
}

/* ----- recherche ville  bar -------*/
.recherche {
  display: flex;
  height: 28px;
}
.recherche input {
    height: 50px;
    text-align: center;
    font-size: 0.89em;
   
}
.recherche p {
  display: flex;
  align-items: baseline;
  flex-flow: row nowrap;
  background-color: #F2F2F2;
  border-radius: 12px;
  font-size: 20px; 
  margin-top: -14px;          
}

.city {
    width: 227px;        
    margin-left: 12px;
    padding-left: 15px;
    border: 1px solid lightgrey;
    font-size: 17px;
    font-weight: bold;
    
}

#sub {
    border-radius: 0 12px 12px 0;
    background-color: #0065FC;
    color: white;
    height: 51px;        
    border: none;
    font-size: 18px;
    width: 9em;   
}

#icon {
  margin-left: 1em; /* 25px */
  margin-right: 0.55em;  /*  15px  */
  color: black; 
  font-size: 1em;     
}

/* --------------   Filtres    --------------*/
.filtres 
{
  display: flex;
  font-size: 20px;
  align-items: baseline;
  flex-wrap: wrap;
  font-weight: bold;
  margin-top: 0.3em;
}
.filtres h3
{
  font-size: 19px;
  margin-top: 20px;
  margin-left: 0;
  font-weight: bold;
}

.filtres ul
{
  list-style-type: none;
  display: flex;
 
}

.filtres li
{
  margin-right: 20px;
  text-decoration: none;
}

.filtres a
{
  font-size: 17px;
  padding: 11px 8px 8px 0;
  color: black;
  border: 1px solid #bdc3c7;
  border-radius: 50px;
}

.filtres i 
{
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 11px 10px;
  margin-right: 12px;
  border-radius: 50%;
}

.filtres a:hover
{
  background-color: #F2F2F2;
  color: #0065FC;
  border: 2px solid #0065FC;
}

.filtres i:hover {
  background-color:rgb(230, 209, 236);
  color: rgb(79, 187, 236);
}
/* --------------   Informations    --------------*/ 
.information
{
  display: flex;
  align-items: baseline;
  
}

.information i
{
  font-size: 22px;
  color: white;
  background-color: #0065FC;
  margin-right: 10px;
  border-radius: 50%;
  border: solid 1px #F2F2F2;
}
 .info {
  font-size: 18px;
  color: grey;
}
/* --------------   hebrgements a marseille    --------------*/ 

.hebergements-container {
  display: flex;
  margin-top: 1.2em;
  justify-content: space-between;
}
.hebergements-a-marseille {   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1em;
  background-color: #f2f2f2;
  padding: 15px 32px 15px 32px;
  width: 59%;
  height: auto;
    
}
#all-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.one-hebergement {
  margin: 1em 0;
  border-radius: 1em;
  box-shadow: 0 0 0.4em rgb(117,115,115);
  background-color: #ffffff;
  width: 252px;
  min-width: 150px;
  height: 177px;
  padding: 5px 5px 15px 5px;
}
.picture {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100%;
  height: 61%;
  object-fit: cover;
}

a h3 {
  color: black;
  margin-left: 10px;
  margin-top: 5px; 
  margin-bottom: -7px;
  font-size: 1em;
}

a p {
  margin-left: 10px;
  font-size: 0.9em;
}

#description-and-stars {
  margin-top: 3px;
}
.description p{
  font-weight: 200;
    
}
.stars-heber {
  display: flex;
  margin-left: 10px;
  font-size: small;
}
.stars-heber i, .stars-popu i
{
  color: #0065FC;
}
#stargrey
{
  color: lightgrey;
}
/*****    les  populaires   *****/ 

.les-populaires {
  margin-right: 2.4em;
  display: flex;
  flex-direction: column;
  width: 26%;
  height: auto;
  padding:15px 30px 15px 30px;
  background-color: #f2f2f2;
  border-radius: 1em;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-div-populaire {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#one-populaire {
  display: flex;
  
  margin: 1.3em 0;
  width: auto;
  height: 110px;
  padding: 4px 4px 8px 4px;
  border-radius: 1em;
  box-shadow: 0 0 0.7em rgba(114,109,109,0.2);
  background-color: #ffffff;
}  

.populaire-picture {
  width: 31%;
  height: 103%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  object-fit: cover;
}

.info-hotel-populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 12px;
}

.stars-popu {
  margin-left: 10px;
  font-size: small;
  padding-top: 16px;
}
/* ---------------- Activités A Marseille ----------------- */
.activites-a-marseille {
  margin-top: 2em;
}

.activites {
  display: flex;
  height: 600px;
  justify-content: space-between; 
  align-content: space-around; 
  padding-bottom: 3px;
  width: 100%;
  align-items: flex-start;
  margin-left: -17px;
  margin-top: -13px;
  }
.vieux-port {
   width: 90%;
   margin: 20px 0px 20px 10px;
   cursor: pointer;
   border-radius: 30px;
   background: white;
   box-shadow: 2px 2px 5px #aaaaaa; 
   padding-bottom: 1%; 
  }
.grande-photo {
    width: 70%;
    height: 540px;
  }
.vieux-port {
    width: 87%;  /* 90% */
    margin: 20px 0px 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    background: white;
    box-shadow: 2px 2px 5px #aaaaaa; 
    padding-bottom: 1%;
  }
  .vieux-port-image {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #aaaaaa; 
    
    height: 470px;
    object-fit: cover; 
    width: 100%;
  }
  .cadre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 500px;
  }
  .fort-pomegues {
    width: 90%;
    margin: 20px 0px 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    background: white;
    box-shadow: 2px 2px 5px #aaaaaa;                     
    height: 230px;
    height: 100%;
    }
  .fort-image {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #aaaaaa;
  
     height: 200px;
    object-fit: cover; 
    width: 100%;
   }
   .iles-Frioul-image {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #aaaaaa;
   
    height: 165px;
    object-fit: cover; 
    width: 100%;
  }
  .iles-frioul {
    width: 90%;
    margin: 20px 0px 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    background: white;
    box-shadow: 2px 2px 5px #aaaaaa; 
  }

  .les-calanques {
    width: 87%;       /*   90%  */
    margin: 20px 0px 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    background: white;
    box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
    padding-bottom: 1%;
  }
 
  .parc-calanques-image {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #aaaaaa; 
        
    height: 470px;
    object-fit: cover; 
    width: 100%;
  }
  .notre-dame-lagarde {
    width: 90%;
    margin: 20px 0px 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    background: white;
    box-shadow: 2px 2px 5px #aaaaaa; 
   }
  .notre-dame-image {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #aaaaaa; 
         
    height: 150px;
    object-fit: cover; 
    width: 100%;
  }
  .titre {
   padding-left: 9%;
  }
  .long-champ {
   width: 90%;
    margin: 20px 0px 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    background: white;
    box-shadow: 2px 2px 5px #aaaaaa; 
 }
  .longchamp-image {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #aaaaaa; 
         
    height: 215px;
    object-fit: cover; 
    width: 100%;
  }
 /*--------------            footer          --------------*/ 

footer {
  display: flex;
  background-color: #F2F2F2;   
  margin: 0%;
  margin-top: 9px;
  height: 183px;
  justify-content: flex-start;
  padding-left: 33px;
 }
footer a{
  text-decoration: none;
}
footer li
{
  list-style-type: none;
  margin-top: 7px;
}
footer ul
{
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-decoration: none;
  line-height: 1.5em;
}
footer div
{
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  width: 33%;
}

footer h4 {
  margin-top: 30px;
  font-size: 18px;
}
li a {
  text-decoration: none;
}
footer a:visited { 
  color: black;
}

.a-propos ul {
 margin-top: -6px;
}
.assistance ul {
  margin-top: -9px;
}
/* --------------            footer           --------------*/ 